{{#if isInput}}
  {{ember-flex-menu-option-input
    acceptKeys=acceptKeys
    cancelKeys=cancelKeys
    choice=choice
    childGainedFocus=childGainedFocus
    childLostFocus=childLostFocus
    columnIndex=columnIndex
    keyboardActivated=keyboardActivated
    keyboardPriority=keyboardPriority
    rowIndex=rowIndex
    value=choice.value
    choose=(action "choose" choice)
    toggleInput=(action "toggleInput")
  }}
{{else if choice.slider}}
  <div class="ember-flex-menu-option-slider-text">{{choice.text}}</div>
  {{range-slider
    animate=choice.slider.animate
    connect=choice.slider.connect
    direction=choice.slider.direction
    disabled=choice.slider.disabled
    limit=choice.slider.limit
    margin=choice.slider.margin
    orientation=choice.slider.orientation
    range=choice.slider.range
    start=choice.slider.start
    step=choice.slider.step
    tooltips=choice.slider.tooltips
    on-change=(action "sliderChange")
  }}
{{else}}
  {{ember-flex-menu-option-button
    childGainedFocus=childGainedFocus
    childLostFocus=childLostFocus
    choice=choice
    columnIndex=columnIndex
    htmlSafe=htmlSafe
    iconFamily=iconFamily
    rowIndex=rowIndex
    choose=(action "choose" choice)
    toggleInput=(action "toggleInput")
  }}
{{/if}}
